{{include('/pages/inc/header.html.twig')}}
<div class="container">
<h2>View categorie</h2>

<div class="list-group">
  <p href="#" class="list-group-item list-group-item-action active">POST</p>
    <p href="#" class="list-group-item list-group-item-action">{{categ.titre}}</p>
  <p href="#" class="list-group-item list-group-item-action">{{categ.description}}</p>

   <p href="#" class="list-group-item list-group-item-action"><a class="btn btn-primary btn-sm" href="/categ">Back</a></p>
</div>
</div>

{{include('pages/inc/footer.html.twig')}}